:root {
  --main-color: #ee5555;
  --button-hover-color: #ee555547;
  --accent: #c3c2c2;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}